:root  {
  --font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --base-color: #5865f2;
  --background-secondry: #313338;
}

body {
  margin: 0;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #1a1b1e;
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: #313338;
}
